<!DOCTYPE html>
<html lang="vie">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <ul>
        <li> Follow us:</li>
        <li><a href="http://www.facebook.com" target="blank">
            <img src="Resources/Icon/facebook.png" alt="facebook" width="25" height="25">
            </a>
        </li>
        <li><a href="http://www.instagram.com" target="blank">
            <img src="Resources/Icon/instagram.png" alt="instagram" width="25" height="25">
            </a>
        </li>
        <li><a href="http://www.twitter.com" target="blank">
            <img src="Resources/Icon/twitter.png" alt="twitter" width="25" height="25">
            </a>
        </li>
    </ul>
</body>

</html>
    