<!DOCTYPE html>
<html lang="vie">
<head>
    <meta charset="UTF-8">
    <base href="/">
    <link rel="stylesheet" type="text/css" href="CSS/module/filter.css">
    <title>  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="left">
        <h2>
            CÔNG TY TNHH TM DV VVT <br>
            MST: 150577 <br>
            Ngày thành lập: 07/07/2020
        </h2>
        <h3>Danh sách cửa hàng:</h3>
        <ul>
            <li>
                <a href="https://goo.gl/maps/5WiwroZAmKAwU4jE9" target="blank">
                    <img src="Resources/Icon/gps.svg" height="30px" width="30px">
                    <p>104, ấp Gò Sao, xã Tân Phú, huyện Đức Hòa, tỉnh Long An.</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="Resources/Icon/gps.svg" height="30px" width="30px">
                    <p>104, ấp Gò Sao, xã Tân Phú, huyện Đức Hòa, tỉnh Long An.</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="Resources/Icon/gps.svg" height="30px" width="30px">
                    <p>104, ấp Gò Sao, xã Tân Phú, huyện Đức Hòa, tỉnh Long An.</p>
                </a>
            </li>
        </ul>
        <h3 id="contact">
            <a href="tel:+84981234567">Hotline: 0981234567</a> <br>
            <a href="mailto:17521184@gm.uit.edu.vn" target="_top">Mail: 17521184@gm.uit.edu.vn</a></h3>
    </div>

    <div id="middle">
        <h2>Hỗ trợ khách hàng</h2>
        <ul>
            <li><a href="/tra_gop" title="Trả góp">Chính sách trả góp</a> </li>
            <li><a href="/thanh_toan" title="Thanh toán">Phương thức thanh toán</a> </li>
            <li><a href="/bao_hanh" title=" Bảo hành">Chính sách bảo hành</a> </li>
            <li><a href="/van_chuyen" title="Vận chuyển">Chính sách vận chuyển</a> </li>
        </ul>
    </div>

    <div id="right">

        <div id="logo"> LapCity</div>
        <div id="cong-thuong">
                <a href="https://www.moit.gov.vn/" target="blank">
                     <img src="Resources/Icon/bo-cong-thuong.png" width="200" height="auto">
                </a>
        </div>
    </div>
</body>

</html>
    