@charset "utf-8";

@font-face{
    font-family: balootamma2;
    src: url(../Resources/font/BalooTamma2-Regular.ttf);
}
#bottom-field {
    min-height: 1400px;
}
#content-field{
    min-height: 500px ;
}

#top-bar #brand-name ul li button {

    height: 50px;
}

.drop-down-content{

    margin-top: -2px;
}
#display-content{
    text-align: justify;
    display: flex;
    width: 100%;
    height: fit-content;
    border-top: solid #d7d3dc ;
    border-width: 2px;
    font-family: balootamma2;
}

