@charset "utf-8";

@font-face{
    font-family: balootamma2;
    src: url(../Resources/font/BalooTamma2-Regular.ttf);
}


html{
    background-image: url("../Resources/images/background_sign_in.png");
    height: 100%;
    background-size: cover;
}
body{
    max-width: 480px;
    margin: auto;
    padding: 20px;
    font-family: balootamma2;
    color: #ffffff;
}

.row{
    width: 100%;
    margin-top: 15px;
}

.label{
    font-size: 20px;
}
.input input{

    text-indent: 10px;
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: #6e6a6a;
    margin-top: 10px;
    font-family: balootamma2;
}

#btn_sign_up{

    font-family: balootamma2;
    border:none;
    padding: 0 20px 0 20px;
    font-weight: bold;
    color: #ffffff;
    width: fit-content;
    height: 40px;
    font-size: 15px;
    background-color: #5e5ea7;
    margin-top: 15px;
}
#btn_sign_up:hover{
    transform: scale(1.1,1.1);
    background-color: #46469c;
    cursor: pointer;
}
#sign-up a{

    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    line-height: 30px;
}
#sign-up h2{
    font-size: 25px;
}

#sign-up{
    margin-top: 20px;
}

label.error{
    color: red;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    float: right;
    top: -82px;
}

#btn_sign_up {
    opacity: 40%;
}

